$eee: #eee;
$fff: #fff;
$body: #f3f4f9;

body {
  background-color: #f3f4f9;
}

.backgroundHome {
  background: transparent;
}
.backgroundLigth {
  background-image: none;
}

.formGroupSesion {
  background-color: #ffffff;
}

.containerForm .backRight,
.containerForm .backLeft,
.containerForm .front,
.containerForm .newPassword {
  border: 1px solid $azul;
}
.activeFocus {
  border: 1px solid transparent !important;
  transition: none;
}

.formGroupSesion form .containerInput:hover {
  border: 1px solid transparent;
}


.containerSesion {
  margin: 8vh 0vh 0vh 0vh;
  min-height: calc(55vh + 22px);
  transition: 600ms all ease;

  &.active {
    min-height: calc(70vh + 22px);
    transition: 600ms all ease;

    .containerForm {
      max-height: 810px;
      min-height: 810px;
      transition: 600ms all ease;
    }
  }
  .containerForm {
  
    max-height: 510px;
    min-height: 510px;
    transition: 600ms all ease;
  }
}

.formGroupSesion form .containerInput,
.dropdown > span,
.dropdown-list li {
  background-color: $eee !important;
}

.redesSocialesAnimadas ul li a {
  background-color: $eee;
}

.redesSocialesAnimadas ul li a:before {
  border: 1px solid $gris;
}
.containerSesion .welcome h1,
.containerSesion .welcome h3,
.containerSesion .welcome .text p {
  color: $gris;
}

.formGroupSesion .buttonContainer button.login,
.formGroupSesion .containerRegister button {
  border: 1px solid #3336;
  color: $gris;

  &:hover {
    border: 1px solid $azul;
    background-color: $eee !important;
  }
}

.spanSesion {
  color: $gris;
}

.animationCircle .ico {
  color: #3338;
}

.formGroupSesion hr.titleHr {
  border-left: 9px solid #3338 !important;
  border-right: 9px solid #3338 !important;
}

@media screen and (min-width: 1024px) {
  header .headerDesktop a .img svg g {
    fill: $azul;
  }
}

.containerHeader .navegation nav ul li a {
  color: #333;
}

.containerHeader .navegation nav ul li a span {
  color: $azul;
}

.heading-block-home {
  background-image: none;
  background-color: #fff;
}
.habilidades .top,
.habilidades .bottom {
  position: initial;
}
.habilidades .card {
  background-image: none;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px 0px #000, inset 0px 0px 0px 0px transparent;
  transition: $transicion600ms;
  &:hover {
    border: 1px solid transparent;
    &#cardHome1 {
      box-shadow: 0px 1px 3px 0px #000, inset 0px 0px 150px 0px #ecadf6;
    }
    &#cardHome2 {
      box-shadow: 0px 1px 3px 0px #000, inset 0px 0px 150px 0px #ff6d6d8a;
    }
    &#cardHome3 {
      box-shadow: 0px 1px 3px 0px #000, inset 0px 0px 150px 0px #9349dd;
    }

    &#cardHome4 {
      box-shadow: 0px 1px 3px 0px #000, inset 0px 0px 150px 0px #00acee;
    }
  }

  &#cardHome2,
  &#cardHome3 {
    background-color: #f2f2f2;
  }
}

.habilidades .card p {
  color: $gris;
  text-shadow: none;
}

.CardPrecios .card p {
  color: $gris;
}

.CardPrecios .card .textImg {
  color: $azul;
}

.CardPrecios .card .dolar,
.CardPrecios .card .mes {
  color: $gris;
}

.CardPrecios .card {
  border: 1px solid #ddd;
}

.CardPrecios .card h4 {
  background-color: $eee !important;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.CardPrecios .card.cardSenuelo {
  box-shadow: 0 0 0px 2px #ffffff, inset 0px 0px 0px 2px rgba($azul, 0.8);
}

.CardPrecios .card:hover.cardSenuelo {
  box-shadow: 0 0 0px 2px #ffffff, inset 0px 0px 0px 2px $azul;

  border: 1px solid #fff;

  h4 {
    border-right: 2px solid #4353ff;
    border-left: 2px solid #4353ff;
  }
}
.CardPrecios .card .seeMore a {
  border: 1px solid $azul;
  color: $gris;
}

.caractSpace .card {
  background-color: rgba(#fff, 1);
  border: 1px solid #ddd;
  color: #333;
  box-shadow: 0 1px 2px 0px #000;
}

.caractSpace .card:hover {
  box-shadow: 0 1px 2px 0px #000;
}

.caractSpace .card .titulo {
  background-color: $azul;
}

.caractSpace {
  background-image: none;
}

.contacto .datosContato .contactoSpace {
  color: $gris;
}
