@import "../variables";

.CardPrecios,
.caracteristicas,
.contacto {
  padding: 60px 0 0 0;
  width: 100%;
}
.CardPrecios {
  margin: auto;
  width: 80%;

  &.col-xs-12 {
    max-width: 1625px;
  }

  .card {
    background-color: $formBackground;
    border: 1px solid $colorText;
    color: $colorText;
    font-weight: 400;

    min-width: 330px;
    max-width: 330px;
    max-height: 475px;
    margin: 20px;
    margin-bottom: 45px;
    text-align: left;

    transition: $transicion600ms;
    overflow: hidden;
    width: 330px;
    position: relative;

    &:hover {
      transform: translateY(-10px);
      background-color: #fff;
      border-radius: 5px;
      border-collapse: collapse;
      border: 1px solid $azul;
      &,
      * {
        transition: $transicion600ms;
      }

      .seeMore a {
        border: 1px solid $azul;

        color: $gris;
        
      }

      h4 {
        border: 1px solid $azul;
        border-left: none;
        border-right: none;
      }
      p {
        color: $azul;

        &.texto {
          color: $gris;
        }
      }
      .dolar,
      .mes {
        color: $gris;
      }

      &.cardSenuelo {
        box-shadow: inset 0px 0px 0px 3px #242d8c;
        border: 1px solid #fff;
      }
    }

    &.cardSenuelo {
      box-shadow: 0 0 0px 2px #ffffff, inset 0px 0px 0px 3px #242d8c;
    }

    .dolar,
    .mes {
      font-size: 16px;
      color: #fff;
      position: absolute;
    }

    .dolar {
      top: 75px;
      left: 130px;
    }

    .mes {
      top: 122px;
      right: 100px;
    }

    &.dosCifras {
      .dolar {
        top: 76px;
        left: 105px;
      }
      .mes {
        top: 122px;
        right: 69px;
      }
    }
    .textImg {
      height: 220px;
      width: 330px;
      font-size: 84px;
      font-weight: 700;
      color: $colorText;
    }

    .seeMore {
      margin: 16px 0;
      text-shadow: none;
      overflow: hidden;

      a {
        align-items: center;

        border: 1px solid $colorText;
        color: $azul;

        display: flex;
        font-size: 16px;
        font-weight: 500;
        height: 35px;
        justify-content: center;

        margin: 0 auto;
        text-decoration: none;
        transition: $transicion600ms;
        width: 120px;
        background-color: transparent;
        border-radius: 5px;
        color: $colorText;

        &.btn2:hover:before {
          border-color: transparent transparent transparent $azul;
        }
        &.btn2:hover:after {
          border-color: transparent $azul transparent transparent;
        }

        &.btn2:hover::before,
        &.btn2:hover::after {
          border-width: 34px 130px !important;
          z-index: -1;
        }
      }
    }
    h4 {
      background-color: $transparenciasInternas !important;
      text-shadow: none;
      color: $azul;
      font-weight: 600;

      margin-bottom: 20px;
      padding: 6px 10px 10px 10px;
      text-align: center;

      letter-spacing: normal;
      text-transform: none;

      text-transform: capitalize;

      border: 1px solid $transparenciasInternas;
      border-left: none;
      border-right: none;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 1.7;
      text-align: left;
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 1388px) {
  .CardPrecios,
  .caracteristicas {
    width: 90%;
  }
}

@media screen and (max-width: 1250px) {
  .CardPrecios,
  .caracteristicas {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .CardPrecios,
  .caracteristicas,
  .contacto {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 350px) {
  .CardPrecios {
    .card {
      min-width: 95%;
      max-width: 96%;
      max-height: max-content;
    }
  }
}
