$imgBackground: url("/home/background-title.webp");

main {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100% - 50px - 75px);
  margin-top: 100px;
  width: 100%;
}

.backgroundHome {
  background: linear-gradient(to top, $azul, #000);
  height: 186%;
  left: -200px;
  position: fixed;
  transform: rotate(-183deg);
  top: -200px;
  width: 235%;
  z-index: -150;
}



.containerSesion {
  font-family: $fontTitle;
  .welcome {
    height: 400px;
    position: relative;
    h1 {
      color: #fff;
      height: 0px;
      letter-spacing: 0.5px;
      margin-bottom: 0px;
      width: 100%;
    }

    h3 {
      color: rgba(#fff, 0.9);
      height: 270px;
      letter-spacing: 0.3px;
      margin: 0px;
    }

    .text {
      height: 0;
      position: absolute;
      bottom: 60%;

      p {
        color: #fff;
        text-align: left;
      }
    }
  }
}

.backgroundLigth {
  display: block;
  background-image: radial-gradient(
    circle at center,
    rgba(#fff, 0.3) 0,
    rgba(50, 51, 63, 0) 66.66%
  );
  left: 50%;
  height: 200vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  width: 99vw;
  z-index: -1;
}

/* .logueado {
  margin: 25vh 0vh 0vh 0vh;
  min-height: calc(60vh + 22px);

  .welcome {
    h1 {
      text-transform: uppercase;
    }
    .text {
      width: 43%;
    }
  }
} */

.heading-block-home {
  .title {
    color: $gris;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 60px 0 15px;
    text-align: center;
    text-transform: uppercase;
  }
}

.heading-block::before,
.heading-block::after,
.heading-block-home::after {
  border-top: 2px solid $gris;
  content: "";
  display: block;
  margin: 30px auto 45px;
  position: absolute;
  width: 50px;
  z-index: 15;
}

.heading-block-home::after {
  position: initial;
}

.heading-block-home {
  width: 100%;
  background-image: $imgBackground;
  background-attachment: local;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
}

.habilidades {
  margin-bottom: 60px;
  overflow: hidden;
  .top,
  .bottom {
    position: relative;
  }

  .top {
    right: 10px;
  }

  .bottom {
    right: -15px;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 180px;
    margin: 10px;
    border-radius: 10px;

    border: 2px solid #ffffff;
    box-shadow: inset 0 0 10px 0px #ffffff;
    padding: 15px 25px;
    background-image: $imgBackground;

    background-position: inherit;
    min-width: 420px;
    max-width: 420px;
    min-height: 180px;
    max-height: 180px;

    &,
    * {
      transition: $transicion600ms;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid #ffffff;
      transform: translateY(-5px);

      &#cardHome1 {
        box-shadow: inset 0px 0px 150px 0px #ecadf6;
      }

      &#cardHome2 {
        box-shadow: inset 0px 0px 150px 0px #ff6d6d8a;
      }

      &#cardHome3 {
        box-shadow: inset 0px 0px 150px 0px #9349dd;
      }

      &#cardHome4 {
        box-shadow: inset 0px 0px 150px 0px #00acee;
      }
    }

    h4 {
      color: #4353ff;
      font-size: 16px;
      text-shadow: 0px 0px 5px #fff;
      font-weight: 600;
    }

    p {
      margin-top: 15px;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.3px;
      text-shadow: 0px 0px 5px #000000;
    }
  }
}

@media screen and (max-width: 640px) {
  .heading-block-home:after {
    margin: 15px auto 35px;
  }
}

/* @media screen and (max-width: 850px) {
  .logueado {
    .welcome {
      height: 290px !important;
    }
  }
}
 */
/* @media screen and (max-width: 1200px) {
  .logueado {
    margin: 13vh 0vh 12vh 0vh;
    .welcome {
      flex-basis: 90%;
      max-width: 90%;
      .text {
        width: 60%;
      }
    }
  }
} */

/* @media screen and (max-width: 600px) {
  .logueado {
    .welcome {
      .text {
        width: 90%;
      }
    }
  } 
}*/

/* @media screen and (max-width: 500px) {
  .logueado {
    margin: 4vh 0vh 15vh 0vh;
  }
}
 */
@media screen and (max-width: 768px) {
  main {
    margin-top: 90px;
    min-height: calc(100% - 50px - 90px);
  }
}

@media screen and (max-width: 1400px) {
}
