/* Paleta de colores */
/* colores de los team */
/* 
$formBackground: $colorPurpleOscuro; */
/* fonts */
/* transicion */
/* bordes */
/* Eliminados */
/* $colorFuchia1: #69156a; */
/* $colorFuchia2: #8a178c; */
/* $colorFuchia3: #b824bb; */
/* $colorFuchia5: #e480e5; */
/* $colorFuchia6: #ecadf6; */
/* $colorPurple4: #9349dd;*/
/* $colorPurple6: #d7b7ff; */
/* */
/* $colorGray2: #555555;
$colorGray3: #777879;
$colorGray1: #2e2e2e; */
/* $colorYellow1: #d39c00;
$colorYellow3: #ffc41f; */
main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100% - 50px - 75px);
  margin-top: 100px;
  width: 100%;
}

.backgroundHome {
  background: -webkit-gradient(linear, left bottom, left top, from(#4353ff), to(#000));
  background: linear-gradient(to top, #4353ff, #000);
  height: 186%;
  left: -200px;
  position: fixed;
  -webkit-transform: rotate(-183deg);
          transform: rotate(-183deg);
  top: -200px;
  width: 235%;
  z-index: -150;
}

.containerSesion {
  font-family: "Crete Round", "Lato", sans-serif;
}
.containerSesion .welcome {
  height: 400px;
  position: relative;
}
.containerSesion .welcome h1 {
  color: #fff;
  height: 0px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
  width: 100%;
}
.containerSesion .welcome h3 {
  color: rgba(255, 255, 255, 0.9);
  height: 270px;
  letter-spacing: 0.3px;
  margin: 0px;
}
.containerSesion .welcome .text {
  height: 0;
  position: absolute;
  bottom: 60%;
}
.containerSesion .welcome .text p {
  color: #fff;
  text-align: left;
}

.backgroundLigth {
  display: block;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0, rgba(50, 51, 63, 0) 66.66%);
  left: 50%;
  height: 200vh;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  width: 99vw;
  z-index: -1;
}

/* .logueado {
  margin: 25vh 0vh 0vh 0vh;
  min-height: calc(60vh + 22px);

  .welcome {
    h1 {
      text-transform: uppercase;
    }
    .text {
      width: 43%;
    }
  }
} */
.heading-block-home .title {
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 60px 0 15px;
  text-align: center;
  text-transform: uppercase;
}

.heading-block::before,
.heading-block::after,
.heading-block-home::after {
  border-top: 2px solid #333;
  content: "";
  display: block;
  margin: 30px auto 45px;
  position: absolute;
  width: 50px;
  z-index: 15;
}

.heading-block-home::after {
  position: initial;
}

.heading-block-home {
  width: 100%;
  background-image: url("/home/background-title.webp");
  background-attachment: local;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
}

.habilidades {
  margin-bottom: 60px;
  overflow: hidden;
}
.habilidades .top,
.habilidades .bottom {
  position: relative;
}
.habilidades .top {
  right: 10px;
}
.habilidades .bottom {
  right: -15px;
}
.habilidades .card {
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 180px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0 0 10px 0px #ffffff;
          box-shadow: inset 0 0 10px 0px #ffffff;
  padding: 15px 25px;
  background-image: url("/home/background-title.webp");
  background-position: inherit;
  min-width: 420px;
  max-width: 420px;
  min-height: 180px;
  max-height: 180px;
}
.habilidades .card,
.habilidades .card * {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.habilidades .card:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.habilidades .card:hover#cardHome1 {
  -webkit-box-shadow: inset 0px 0px 150px 0px #ecadf6;
          box-shadow: inset 0px 0px 150px 0px #ecadf6;
}
.habilidades .card:hover#cardHome2 {
  -webkit-box-shadow: inset 0px 0px 150px 0px #ff6d6d8a;
          box-shadow: inset 0px 0px 150px 0px #ff6d6d8a;
}
.habilidades .card:hover#cardHome3 {
  -webkit-box-shadow: inset 0px 0px 150px 0px #9349dd;
          box-shadow: inset 0px 0px 150px 0px #9349dd;
}
.habilidades .card:hover#cardHome4 {
  -webkit-box-shadow: inset 0px 0px 150px 0px #00acee;
          box-shadow: inset 0px 0px 150px 0px #00acee;
}
.habilidades .card h4 {
  color: #4353ff;
  font-size: 16px;
  text-shadow: 0px 0px 5px #fff;
  font-weight: 600;
}
.habilidades .card p {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-shadow: 0px 0px 5px #000000;
}

@media screen and (max-width: 640px) {
  .heading-block-home:after {
    margin: 15px auto 35px;
  }
}
/* @media screen and (max-width: 850px) {
  .logueado {
    .welcome {
      height: 290px !important;
    }
  }
}
 */
/* @media screen and (max-width: 1200px) {
  .logueado {
    margin: 13vh 0vh 12vh 0vh;
    .welcome {
      flex-basis: 90%;
      max-width: 90%;
      .text {
        width: 60%;
      }
    }
  }
} */
/* @media screen and (max-width: 600px) {
  .logueado {
    .welcome {
      .text {
        width: 90%;
      }
    }
  } 
}*/
/* @media screen and (max-width: 500px) {
  .logueado {
    margin: 4vh 0vh 15vh 0vh;
  }
}
 */
@media screen and (max-width: 768px) {
  main {
    margin-top: 90px;
    min-height: calc(100% - 50px - 90px);
  }
}
.caractSpace {
  width: 100%;
  min-height: 600px;
  background-repeat: repeat;
  background-image: url("/home/wallpaper.webp");
  width: 4%;
  background-position: bottom;
  background-attachment: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.caractSpace .card {
  background-color: rgba(67, 83, 255, 0.96);
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  min-width: 330px;
  max-width: 330px;
  max-height: 475px;
  min-height: 475px;
  margin: 20px;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: left;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  overflow: hidden;
  width: 330px;
  position: relative;
  border-radius: 15px 15px 0 0;
  padding: 50px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.caractSpace .card,
.caractSpace .card * {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.caractSpace .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-radius: 10px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
}
.caractSpace .card:hover .titulo {
  /* box-shadow:  0 0 0 2px #ffffff; */
}
.caractSpace .card ::-moz-selection {
  color: #4353ff;
  background-color: #fff;
}
.caractSpace .card ::selection {
  color: #4353ff;
  background-color: #fff;
}
.caractSpace .card .titulo {
  position: absolute;
  top: -30px;
  width: 100%;
  left: 0%;
  height: 69px;
  color: #fff;
  background-color: rgba(0, 155, 238, 0.3);
  border-radius: 10px 10px 150px 150px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.caractSpace .card .titulo h3 {
  position: relative;
  top: 12px;
}
.caractSpace .card p,
.caractSpace .card h4 {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.caractSpace .card p b,
.caractSpace .card h4 b {
  margin-right: 10px;
}
.caractSpace .card h4 {
  padding-bottom: 0;
}
.caractSpace .tabla {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.caractSpace .tabla .border {
  width: 82%;
  border: 3px solid #4353ff;
  border-top: 3px solid #fff;
  max-width: 1050px;
}
.caractSpace .tabla .row {
  background-color: rgba(255, 255, 255, 0.9);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid rgba(67, 83, 255, 0.3);
}
.caractSpace .tabla .row.titulo {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 15px 30px;
  background-color: rgba(67, 83, 255, 0.96);
}
.caractSpace .tabla .row.titulo h5 {
  color: #fff;
}
.caractSpace .tabla .col-xs-4,
.caractSpace .tabla .col-xs-2 {
  padding: 15px 30px;
}
.caractSpace .tabla h5 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-transform: capitalize;
}
.caractSpace .tabla .col-xs-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Paleta de colores */
/* colores de los team */
/* 
$formBackground: $colorPurpleOscuro; */
/* fonts */
/* transicion */
/* bordes */
/* Eliminados */
/* $colorFuchia1: #69156a; */
/* $colorFuchia2: #8a178c; */
/* $colorFuchia3: #b824bb; */
/* $colorFuchia5: #e480e5; */
/* $colorFuchia6: #ecadf6; */
/* $colorPurple4: #9349dd;*/
/* $colorPurple6: #d7b7ff; */
/* */
/* $colorGray2: #555555;
$colorGray3: #777879;
$colorGray1: #2e2e2e; */
/* $colorYellow1: #d39c00;
$colorYellow3: #ffc41f; */
.CardPrecios,
.caracteristicas,
.contacto {
  padding: 60px 0 0 0;
  width: 100%;
}

.CardPrecios {
  margin: auto;
  width: 80%;
}
.CardPrecios.col-xs-12 {
  max-width: 1625px;
}
.CardPrecios .card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  min-width: 330px;
  max-width: 330px;
  max-height: 475px;
  margin: 20px;
  margin-bottom: 45px;
  text-align: left;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  overflow: hidden;
  width: 330px;
  position: relative;
}
.CardPrecios .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: #fff;
  border-radius: 5px;
  border-collapse: collapse;
  border: 1px solid #4353ff;
}
.CardPrecios .card:hover,
.CardPrecios .card:hover * {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.CardPrecios .card:hover .seeMore a {
  border: 1px solid #4353ff;
  color: #333;
}
.CardPrecios .card:hover h4 {
  border: 1px solid #4353ff;
  border-left: none;
  border-right: none;
}
.CardPrecios .card:hover p {
  color: #4353ff;
}
.CardPrecios .card:hover p.texto {
  color: #333;
}
.CardPrecios .card:hover .dolar,
.CardPrecios .card:hover .mes {
  color: #333;
}
.CardPrecios .card:hover.cardSenuelo {
  -webkit-box-shadow: inset 0px 0px 0px 3px #242d8c;
          box-shadow: inset 0px 0px 0px 3px #242d8c;
  border: 1px solid #fff;
}
.CardPrecios .card.cardSenuelo {
  -webkit-box-shadow: 0 0 0px 2px #ffffff, inset 0px 0px 0px 3px #242d8c;
          box-shadow: 0 0 0px 2px #ffffff, inset 0px 0px 0px 3px #242d8c;
}
.CardPrecios .card .dolar,
.CardPrecios .card .mes {
  font-size: 16px;
  color: #fff;
  position: absolute;
}
.CardPrecios .card .dolar {
  top: 75px;
  left: 130px;
}
.CardPrecios .card .mes {
  top: 122px;
  right: 100px;
}
.CardPrecios .card.dosCifras .dolar {
  top: 76px;
  left: 105px;
}
.CardPrecios .card.dosCifras .mes {
  top: 122px;
  right: 69px;
}
.CardPrecios .card .textImg {
  height: 220px;
  width: 330px;
  font-size: 84px;
  font-weight: 700;
  color: #fff;
}
.CardPrecios .card .seeMore {
  margin: 16px 0;
  text-shadow: none;
  overflow: hidden;
}
.CardPrecios .card .seeMore a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  color: #4353ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  width: 120px;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
}
.CardPrecios .card .seeMore a.btn2:hover:before {
  border-color: transparent transparent transparent #4353ff;
}
.CardPrecios .card .seeMore a.btn2:hover:after {
  border-color: transparent #4353ff transparent transparent;
}
.CardPrecios .card .seeMore a.btn2:hover::before, .CardPrecios .card .seeMore a.btn2:hover::after {
  border-width: 34px 130px !important;
  z-index: -1;
}
.CardPrecios .card h4 {
  background-color: rgba(255, 255, 255, 0.3) !important;
  text-shadow: none;
  color: #4353ff;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 6px 10px 10px 10px;
  text-align: center;
  letter-spacing: normal;
  text-transform: none;
  text-transform: capitalize;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
}
.CardPrecios .card p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
  text-align: left;
  padding: 0 30px;
}

@media screen and (max-width: 1388px) {
  .CardPrecios,
  .caracteristicas {
    width: 90%;
  }
}
@media screen and (max-width: 1250px) {
  .CardPrecios,
  .caracteristicas {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .CardPrecios,
  .caracteristicas,
  .contacto {
    padding: 30px 0 0;
  }
}
@media screen and (max-width: 350px) {
  .CardPrecios .card {
    min-width: 95%;
    max-width: 96%;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.contacto {
  padding: 0;
}
.contacto .datosContato {
  width: 80%;
  padding: 40px 0;
}
.contacto .datosContato .contactoSpace {
  color: #fff;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: "Crete Round", "Lato", sans-serif;
}
.contacto .datosContato .contactoSpace .logo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Paleta de colores */
/* colores de los team */
/* 
$formBackground: $colorPurpleOscuro; */
/* fonts */
/* transicion */
/* bordes */
/* Eliminados */
/* $colorFuchia1: #69156a; */
/* $colorFuchia2: #8a178c; */
/* $colorFuchia3: #b824bb; */
/* $colorFuchia5: #e480e5; */
/* $colorFuchia6: #ecadf6; */
/* $colorPurple4: #9349dd;*/
/* $colorPurple6: #d7b7ff; */
/* */
/* $colorGray2: #555555;
$colorGray3: #777879;
$colorGray1: #2e2e2e; */
/* $colorYellow1: #d39c00;
$colorYellow3: #ffc41f; */
.btn2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-decoration: none;
  /* text-transform: uppercase; */
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  overflow: hidden;
  width: 250px;
  will-change: transform;
}

.btn2::before,
.btn2::after {
  position: absolute;
  content: "";
  border: 0px solid;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  z-index: 100;
}

.btn2::before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #fff;
}

.btn2::after {
  top: 0;
  right: 0;
  border-color: transparent #fff transparent transparent;
}

.btn2:hover {
  color: #fff !important;
}

.btn2:hover::before,
.btn2:hover::after {
  border-width: 80px 260px;
}

/* Animaciones */
@-webkit-keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/* Paleta de colores */
/* colores de los team */
/* 
$formBackground: $colorPurpleOscuro; */
/* fonts */
/* transicion */
/* bordes */
/* Eliminados */
/* $colorFuchia1: #69156a; */
/* $colorFuchia2: #8a178c; */
/* $colorFuchia3: #b824bb; */
/* $colorFuchia5: #e480e5; */
/* $colorFuchia6: #ecadf6; */
/* $colorPurple4: #9349dd;*/
/* $colorPurple6: #d7b7ff; */
/* */
/* $colorGray2: #555555;
$colorGray3: #777879;
$colorGray1: #2e2e2e; */
/* $colorYellow1: #d39c00;
$colorYellow3: #ffc41f; */
button.cont_x {
  outline: none;
  border: none;
  cursor: pointer;
}

.cont_x {
  position: relative;
  width: 17px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cont_x span {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #4353ff;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_x span:nth-last-of-type(1) {
  top: 0;
}

.cont_x span:nth-last-of-type(3) {
  bottom: 0;
}

.cont_x.active span:nth-last-of-type(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
  background-color: #333;
}

.cont_x.active span:nth-last-of-type(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
  background-color: #333;
}

.cont_x.active span:nth-last-of-type(2) {
  background-color: #333;
  opacity: 0;
}

.menu2.active span:nth-last-of-type(2) {
  left: 80%;
}

.menu2.active:before {
  position: absolute;
  width: 30px;
  height: 30px;
  content: "";
  border: 2px solid transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: circulo 0.5s 0.3s forwards;
          animation: circulo 0.5s 0.3s forwards;
  margin: -19px 0 0 -18px;
}

@-webkit-keyframes circulo {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #4353ff transparent transparent;
  }
  50% {
    border-color: transparent #4353ff #4353ff transparent;
  }
  75% {
    border-color: transparent #4353ff #4353ff #4353ff;
  }
  100% {
    border-color: #4353ff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg);
  }
}

@keyframes circulo {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #4353ff transparent transparent;
  }
  50% {
    border-color: transparent #4353ff #4353ff transparent;
  }
  75% {
    border-color: transparent #4353ff #4353ff #4353ff;
  }
  100% {
    border-color: #4353ff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg);
  }
}
