.tablaHash,
.continerFiltro {
  margin-left: $tamanoDelToolbard;
  max-width: 1100px;

  align-content: flex-start;

  .filter {
    position: relative;
    min-height: 40px;
  }

  &::-webkit-scrollbar {
    background: #0000;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }
}

.tablaHash {
  height: 70vh;
  max-height: 700px;
  margin-top: 15px;
}

.containerDatos {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: inherit;
  align-content: flex-start;
}

.tituloDato {
  &.border {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(#fff, 0.05);
  }
  .name {
    display: flex;
    align-items: center;
  }
  .checkExterno {
    height: 15px;
    border: 1px solid #fff;
    width: 15px;
    margin-right: 10px;
    border-radius: 2px;
    outline: none;

    .checkInterno {
      /* display: none; */

      width: 9px;
      height: 9px;
      border-radius: 1px;
      background: #fff;
      display: none;

      &.display {
        display: block;
      }
    }
  }
  p {
    color: #fff;
  }
}

.datoTabla {
  margin-bottom: 10px;
  .dato-name {
    display: flex;
    align-items: center;

    button {
      border: 1px solid #fff5;
      background-color: #fff3;
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }

      span {
        color: #fff;
        padding: 2px;
      }
      .puntos {
        position: relative;
        top: -5px;
      }
    }
  }
  .containerImgModal {
    position: relative;
    button {
    }
    .modalImg {
      position: absolute;

      max-width: 300px;
      min-width: 300px;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 5px 0px;
      top: 30px;
      display: none;

      &.display {
        display: flex;
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .canvas {
    width: 90%;
    height: 16px;
    border: 1px solid rgba(#fff, 0.5);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .porcentajeCanvas {
      height: 100%;
      width: 100%;
      background: #fff;
      position: absolute;
      left: -50%;
    }
  }
}

.continerFiltro {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(#fff, 0.05);
  margin-top: 30px;
  .centerElement {
    display: flex;
    align-items: center;

    .element {
      border: 1px solid #fff;
      border-radius: 4px;
      padding-left: 10px;
      background: #fff5;
      /* overflow-x: hidden; */
      margin-bottom: 10px;
      position: relative;

      &.display {
        display: none !important;
      }

      .tooltipFilter{
        position: absolute;
        top: 40px;
        background: #fff;
        width: 110%;
        left: -5%;
        border-radius: 4px;
        padding: 10px 7px;
      }
    }

    & > .col-xs-3 {
      flex-basis: 27%;
      max-width: 27%;
    }
  }
  .select {
    /* position: relative; */
    select {
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.3);
      width: 250px;
      padding: 0 10px;
      height: 30px;
      color: #fff;

      /* appearance: none; */
      outline: 0;
      box-shadow: none;

      option {
        border: 1px solid transparent;
        background: #fff;
        color: $gris;

        &:hover {
          color: #fff;
          background-color: #000;
          /* border: 1px solid #fff; */
          /* background-color: rgba($azul, 1); */
        }
      }
    }

    /* .select::after {
      content: "\e907";
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: #34495e;
      cursor: pointer;
      pointer-events: none;
      -webkit-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease;
    }
   
    .select:hover::after {
      color: #f39c12;
    } */
  }
}

.dropdown.filter {
  position: absolute;

  .dropdown-list {
    height: 114px;
    overflow: hidden;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #0004;
      }
      button {
        border: none;
        cursor: pointer;
      }
    }
  }
}

.hashtagFiltro {
  .tag {
    display: flex;
    align-items: center;

    p {
      color: #fff;
      text-shadow: 0px 0px 5px #4353ff;
    }
  }
  .button {
    justify-content: flex-end;
    display: flex;

    position: relative;
    width: 30px;
    height: 24px;

    background: #fff;
    right: -5px;

    button {
      position: relative;
      right: 0px;
      width: 100%;
      height: 100%;

      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
