/* Paleta de colores */
/* colores de los team */
/* 
$formBackground: $colorPurpleOscuro; */
/* fonts */
/* transicion */
/* bordes */
/* Eliminados */
/* $colorFuchia1: #69156a; */
/* $colorFuchia2: #8a178c; */
/* $colorFuchia3: #b824bb; */
/* $colorFuchia5: #e480e5; */
/* $colorFuchia6: #ecadf6; */
/* $colorPurple4: #9349dd;*/
/* $colorPurple6: #d7b7ff; */
/* */
/* $colorGray2: #555555;
$colorGray3: #777879;
$colorGray1: #2e2e2e; */
/* $colorYellow1: #d39c00;
$colorYellow3: #ffc41f; */
.formGroupSesion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Crete Round", "Lato", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 503px;
  max-width: 415px;
  min-height: 503px;
  min-width: 415px;
  padding: 40px;
  overflow: hidden;
}
.formGroupSesion p {
  text-align: left;
  color: #333 !important;
  text-shadow: 0px 0px 5px #fff;
}
.formGroupSesion button {
  background-color: transparent;
  border: none;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.formGroupSesion button a {
  text-decoration: none;
  color: #4353ff;
}
.formGroupSesion button.submit:focus {
  outline: none;
}
.formGroupSesion button.submit:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3) !important;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.formGroupSesion hr {
  border: 1px solid transparent !important;
}
.formGroupSesion hr.titleHr {
  background-color: #4353ff;
  border: none !important;
  border-left: 9px solid #fff !important;
  border-right: 9px solid #fff !important;
  border-radius: 4px;
  height: 4px;
  margin: 0px auto 30px;
  width: 48px;
}
.formGroupSesion .buttonSesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
}
.formGroupSesion form {
  width: 100%;
}
.formGroupSesion form .containerInput {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 39px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 8px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  overflow: hidden;
}
.formGroupSesion form .containerInput.error {
  border: 1px solid #f22;
}
.formGroupSesion form .containerInput:hover {
  border: 1px solid #4353ff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  outline: none;
}
.formGroupSesion form .containerInput .icoBackground {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8px;
}
.formGroupSesion input {
  background-color: transparent !important;
  border: 3px solid transparent;
  border-radius: 4px;
  color: #333 !important;
  text-shadow: 0px 0px 5px #ffffff;
  font-weight: 300;
  height: 100%;
  padding: 10px 0px 10px 10px;
}
.formGroupSesion input:focus {
  background-color: #4353ff;
  outline: none;
}
.formGroupSesion input::-webkit-input-placeholder {
  color: #333 !important;
  text-shadow: 0px 0px 5px #ffffff;
}
.formGroupSesion input::-moz-placeholder {
  color: #333 !important;
  text-shadow: 0px 0px 5px #ffffff;
}
.formGroupSesion input::-ms-input-placeholder {
  color: #333 !important;
  text-shadow: 0px 0px 5px #ffffff;
}
.formGroupSesion .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.formGroupSesion .buttonContainer button.login {
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  height: 40px;
  outline: none;
  padding: 5px 20px;
  width: 50%;
}
.formGroupSesion .containerRegister {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}
.formGroupSesion .containerRegister button {
  width: 50%;
  border: 1px solid #fff;
  height: 40px;
  border-radius: 5px;
  color: #4353ff;
  text-shadow: 0px 0px 5px #ffffff;
}
.formGroupSesion .legal {
  text-align: left;
}
.formGroupSesion .legal p {
  font-size: 12px;
}
.formGroupSesion .legal a {
  color: #4353ff;
  text-shadow: 0px 0px 5px #ffffff;
  text-decoration: none;
}
.formGroupSesion .forgotPasswordContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formGroupSesion .forgotPasswordContainer button {
  outline: none;
}
.formGroupSesion .forgotPasswordContainer button a {
  text-decoration: none;
  outline: none;
}
.formGroupSesion .forgotPasswordContainer button a:hover {
  text-decoration: none;
}
.formGroupSesion .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.formGroupSesion .title p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formGroupSesion .submitEmail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4353ff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.formGroupSesion .submitEmail:focus {
  outline: none;
}
.formGroupSesion .submitEmail:hover {
  cursor: pointer;
}
.formGroupSesion .submitEmail .ico {
  color: #fff;
}
.formGroupSesion .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.containerForm {
  color: #fff;
  cursor: default;
  max-width: 550px;
  max-height: 530px;
  min-height: 530px;
  position: relative;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 2;
}
.containerForm .front,
.containerForm .newPassword {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid transparent;
  max-height: 420px;
  min-height: 420px;
  position: relative;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.containerForm .newPassword {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 280px;
  min-height: 280px;
}
.containerForm .backRight,
.containerForm .backLeft {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  position: absolute;
  top: 0;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 5px transparent;
          box-shadow: 0px 0px 5px transparent;
}
.containerForm .backRight {
  max-height: 373px;
  min-height: 373px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 15;
}
.containerForm .backLeft {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: 10;
  max-height: 300px;
  min-height: 300px;
}
.containerForm .backLeft .containerInput {
  padding-right: 0;
}
.containerForm .backLeft .buttonBack {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}
.containerForm .backLeft .buttonBack a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
}
.containerForm .backLeft .buttonBack a.animationCircle.active:before {
  -webkit-transform: none;
          transform: none;
}
.containerForm.activeRight {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.containerForm.activeRight .backRight {
  max-height: 530px;
  min-height: 530px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.containerForm.activeRight .backLeft {
  display: none;
}
.containerForm.activeRight > .front {
  margin-bottom: 113px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}
.containerForm.activeLeft {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  display: block;
}
.containerForm.activeLeft .backRight {
  display: none !important;
}
.containerForm.activeLeft > .front {
  max-height: 300px;
  min-height: 300px;
  margin-bottom: 0;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.containerSesion {
  margin: 15vh 0vh 5vh 0vh;
  min-height: calc(70vh + 22px);
  width: 85%;
}

.checkBoxContainer .icon-check-circle {
  margin-right: 7px;
  margin-left: 10px;
  color: #333;
  text-shadow: 0px 0px 5px #ffffff;
}
.checkBoxContainer .icon-check-circle.active {
  color: #4353ff;
}

.animationCircle .ico {
  color: #fff;
  text-shadow: none;
}
.animationCircle.active:before {
  -webkit-animation: circle 0.6s 0.6s forwards;
          animation: circle 0.6s 0.6s forwards;
  border: 4px solid transparent;
  border-radius: 50%;
  content: "";
  height: 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  position: absolute;
}

.activeFocus {
  border: 1px solid #4353ff !important;
  -webkit-transition: all ease 0.6s !important;
  transition: all ease 0.6s !important;
}

.tarjetaFocus {
  -webkit-animation: tarjetaFocus 2s;
          animation: tarjetaFocus 2s;
}

@media screen and (max-width: 1024px) {
  .containerSesion {
    min-height: 430px;
    width: 90%;
  }
  .containerSesion .containerForm {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}
@media screen and (max-width: 460px) {
  .containerSesion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .formGroupSesion {
    max-height: 455px;
    max-width: 95vw;
    min-height: 455px;
    min-width: 95vw;
    padding: 20px;
  }
  .formGroupSesion .containerRegister {
    margin-bottom: 12px;
  }
  .formGroupSesion .legal {
    margin-top: 10px;
  }
  .formGroupSesion .legal p {
    font-size: 11px;
  }

  .containerForm .front {
    max-height: 415px;
    min-height: 415px;
  }
  .containerForm .backLeft {
    max-height: 260px;
    min-height: 260px;
  }
  .containerForm .backLeft p {
    font-size: 14px;
  }
  .containerForm .backLeft .title p {
    font-size: 17px;
  }

  .mainForLogin {
    margin-top: 25px;
  }
}
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #4353ff transparent transparent;
  }
  50% {
    border-color: transparent #4353ff #4353ff transparent;
  }
  75% {
    border-color: transparent #4353ff #4353ff #4353ff;
  }
  100% {
    border-color: #4353ff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg);
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: transparent #4353ff transparent transparent;
  }
  50% {
    border-color: transparent #4353ff #4353ff transparent;
  }
  75% {
    border-color: transparent #4353ff #4353ff #4353ff;
  }
  100% {
    border-color: #4353ff;
    -webkit-transform: rotate(-700deg);
            transform: rotate(-700deg);
  }
}
@-webkit-keyframes tarjetaFocus {
  1% {
    color: #333 !important;
    -webkit-box-shadow: 0px 0px 5px #333;
            box-shadow: 0px 0px 5px #333;
  }
  100% {
    border-color: transparent;
  }
}
@keyframes tarjetaFocus {
  1% {
    color: #333 !important;
    -webkit-box-shadow: 0px 0px 5px #333;
            box-shadow: 0px 0px 5px #333;
  }
  100% {
    border-color: transparent;
  }
}
.formGroupSesion button a,
.formGroupSesion .forgotPasswordContainer a,
.formGroupSesion .containerRegister button {
  color: #4353ff;
  text-shadow: 0px 0px 5px #ffffff;
}
